div{
    margin: 0 auto;
    text-align: center;
}

h1{
    margin: 0;
}

p{
    font-size: 14px;
}

form{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 0 0;
}

input[type="text"]{
    width: 200px;
    display: block;
    margin: 20px auto;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 4px;
}

textarea{
    width: 200px;
    height: 100px;
    display: block;
    margin: 20px auto;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 4px;
}

input[type="submit"]{
    width: 120px;
    height: 40px;
    background: #000;
    color: #fff;
}

::placeholder{
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
}









